pandas
scikit-learn
sentence-transformers
transformers
datasets
accelerate>=0.26.0
lightgbm
joblib
fastapi
uvicorn
streamlit
langchain
langchain-openai
pdfplumber
python-dotenv
google-generativeai
openai
pathlib
streamlit>=1.28.0
plotly
numpy
matplotlib
seaborn
markdown
tqdm
torch